<table id="biomes">
    <tr class="listheader">
        <th class="headerSortUp" onclick="sortTable('biomes', 0, this)" data-ascending>Name</th>
        <th class="headerSortUp" onclick="sortTable('biomes', 1, this)" data-ascending>Description</th>
        <th>Delete</th>
    </tr>
    {{#each biomes}}
    <tr class="clickable-row" id={{biomeID}}>
        <td class="biome_name">{{name}}</td>
        <td class="biome_description">{{description}}</td>
        <td><input type="button" class="delete" onclick="deleteBiome(this)" value="Delete"></td>
    </tr>
    {{/each}}
</table>
<table>
    <tr>
        <td>Biome Name:</td>
        <td><input type="text" id="biome_name"></td>
        <td>Biome Description:</td>
        <td><input type="text" id="biome_description"></td>
    </tr>
</table>
<div>
    <td colspan=2><input type="button" class="add" onclick="addBiome()" value="Add New Biome"></input></td>
</div>