<table>
    <tr>
        <th>Name</th>
        <td colspan=2>{{name}}</td>
    </tr>
    <tr>
        <th colspan=3>Description</th>
    </tr>
    <tr>
        <td colspan=3>{{description}}</td>
    </tr>
    <tr>
        <td class="center"><button onclick="loadElement('Biomes', 'biomeModify', 'biomeID', 0, 'add')">Add New</button></td>
        <td class="center"><button>Modify</button></td>
        <td class="center"><button onclick="deleteBiome({{biomeID}})">Delete</button></td>
    </tr>
</table>