<form>
    <table>
        <tr id="row-name">
            <td class="display">{{name}}</td>
            <td class="input"><input type-"text" id="name" value="Zebra"></input></td>
        </tr>
    </table>
</form>