<link rel='stylesheet' type='text/css' href='/css/display.css' />

<form>
    <table>
        <tr id="row-name">
            <td>{{name}}</td>
            <td class='hidden'><input type-"text" id="name" value={{name}}></input></td>
        </tr>
    </table>
</form>