<nav class="topnav">
		<a class="active" href="index">Home</a> 
		<a href="monsters">Monsters</a> 
		<a href="characters">Characters</a>
		<a href="parties">Parties</a> 
		<a href="biomes">Biomes</a> 
		<a href="abilities">Abilities</a>
</nav>