<!doctype html>
<html>
<head>
	<title>Beastidex</title>
	<link rel='stylesheet' type='text/css' href='/css/styles.css' />
</head>
<body>
	<nav class="topnav">
		<a class="active" href="index">Home</a>
		<a href="monsters">Monsters</a>
		<a href="characters">Characters</a>
	</nav>
	{{{body}}}
</body>
</html>