<!doctype html>
<html>
<head>
	<title>Beastidex</title>
	<link rel='stylesheet' type='text/css' href='/css/topnav.css' />
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>
	<nav class="topnav">
		<a class="active" href="index">Home</a>
		<a href="monsters">Monsters</a>
		<a href="characters">Characters</a>
		<a href="biomes">Biomes</a>
		<a href="abilities">Abilities</a>
	</nav>
	{{{body}}}
</body>
</html>