<script src="/js/general.js"></script>
<script src="/js/abilities.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", event => {
        listElements('Abilities', 'abilityList');
        loadElement('Abilities', 'abilityDisplay', 'abilityID', 1);
    });
</script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />

<div class="viewport">
    <div class="listcontainer">
        <table id="abilities">
            <tr>
               <form id="search-form" onsubmit="listElements('Abilities', 'abilityList', 'name'); return false;" method="post">
                   <td colspan='3'><input id="search-field" type="text"></input></td>
                   <td><input type="submit" value="Search"></td>
                </form> 
            </tr>
            <tr class="listheader">
                <th class="headerSortUp" onclick="sortTable('abilities', 0, this)" data-ascending>Name</th>
                <th onclick="sortTable('abilities', 1, this)" data-ascending>Type</th>
                <th onclick="sortTable('abilities', 2, this)" data-int data-ascending>Attack Range</th>
                <th onclick="sortTable('abilities', 3, this)" data-ascending>Damage</th>
            </tr>
            <tbody id="list"></tbody>
        </table>
    </div>
    <div class="viewcontainer" id="display">
</div>

