<script src="/js/sortTable.js"></script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />

<div class="viewport">
    <div class="listcontainer">
        {{> biomeTable this}}
    </div>
    <div class="viewcontainer">

    </div>
</div>