<script src="/js/general.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", event => {
        listElements('Biomes', 'biomeList');
        loadElement('Biomes', 'biomeDisplay', 'biomeID', 1);
    });

    function deleteBiome(biomeID) {
        let request = new XMLHttpRequest();
        request.open('delete', '/table_delete');
        request.setRequestHeader('table', 'Biomes');
        request.setRequestHeader('element', 'biomeID');
        request.setRequestHeader('elementID', biomeID);
        request.addEventListener("load", response => {
            let list = document.getElementById("list");
            list.innerHTML = request.responseText;
        })
        request.send();

        listElements('Biomes', 'biomeList');
    }
</script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />

<div class="viewport">
    <div class="listcontainer">
        <table id="biomes">
            <tr>
               <form id="search-form" onsubmit="listElements('Biomes', 'biomeList', 'name'); return false;" method="post">
                   <td colspan='1'><input id="search-field" type="text"></input></td>
                   <td><input type="submit" value="Search"></td>
                </form> 
            </tr>
            <tr class="listheader">
                <th class="headerSortUp" onclick="sortTable('biomes', 0, this)" data-ascending>Name</th>
                <th class="headerSortUp" onclick="sortTable('biomes', 1, this)" data-ascending>Description</th>
            </tr>
            <tbody id="list" />
        </table>
    </div>
    <div class="viewcontainer" id="display" />
</div>