<script src="/js/sortTable.js"></script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />

<div class="viewport">
    <div class="listcontainer">
        <div class="filtersearch">

        </div>
        <div class="sourcebuttons">

        </div>
        <table id="biomes">
            <tr>
                <th onclick="sortTable('biomes', 0, this)" data-ascending>Name</th>
            </tr>
            <tr class="clickable-row" data-href="#biomeID" onclick="loadBiome"(this)">
                <td class="biome_name">Desert</td>
            </tr>
            <tr class="clickable-row" data-href="#biomeID" onclick="loadBiome" (this)">
                <td class="biome_name">Jungle</td>
            </tr>
            <tr class="clickable-row" data-href="#biomeID" onclick="loadBiome" (this)">
                <td class="biome_name">Tundra</td>
            </tr>
            <tr class="clickable-row" data-href="#biomeID" onclick="loadBiome" (this)">
                <td class="biome_name">Forest</td>
            </tr>
        </table>
    </div>
    <div class="viewcontainer">

    </div>
</div>