<script src="/js/sortTable.js"></script>

<div class="viewport">
    <div class="listcontainer">
        <div class="filtersearch">

        </div>
        <div class="sourcebuttons">

        </div>
        <table id="characters">
            <tr>
                <th  onclick="sortTable('characters', 0, this)" data-ascending>Name</th>
                <th  onclick="sortTable('characters', 1, this)" data-ascending>Race</th>
                <th  onclick="sortTable('characters', 2, this)" data-ascending>Class</th>
                <th  onclick="sortTable('characters', 3, this)" data-isInt data-ascending>Level</th>
                <th  onclick="sortTable('characters', 4, this)" data-ascending>Party</th>
            </tr>
            <tr class="clickable-row" data-href="#characterID" onclick="loadCharacter(this)">
                <td class="character_name">Jeff O'Saur</td>
                <td class="character_race">Dinosaurian</td>
                <td class="character_class">Bard</td>
                <td class="character_level">5</td>
                <td class="character_party">Derpestarians</td>
            </tr>
            <tr class="clickable-row" data-href="#characterID" onclick="loadCharacter(this)">
                <td class="character_name">Robert Sandfield</td>
                <td class="character_race">Human</td>
                <td class="character_class">Wizard</td>
                <td class="character_level">4</td>
                <td class="character_party">Database Comrades</td>
            </tr>
            <tr class="clickable-row" data-href="#characterID" onclick="loadCharacter(this)">
                <td class="character_name">Salah Salamey</td>
                <td class="character_race">Human</td>
                <td class="character_class">Monk</td>
                <td class="character_level">4</td>
                <td class="character_party">Database Comrades</td>
            </tr>
            <tr class="clickable-row" data-href="#characterID" onclick="loadCharacter(this)">
                <td class="character_name">Bill</td>
                <td class="character_race">Donkey</td>
                <td class="character_class">Bourgeoisie</td>
                <td class="character_level">5</td>
                <td class="character_party">Derpestarians</td>
            </tr>
        </table>
    </div>
    <div class="viewcontainer" >
        {{> characterDisplay name="Zebra"}}
    </div>
</div>