<script src="/js/carousel.js"></script>


<div class="carouselShow">

    <div class="carouselImgs slide">
        <div class="imgNum">1 / 2</div>
        <img src="proj_img_1.png" style="width:100%">
        <div class="caption">Photo taken from https://dnd.wizards.com/articles/features/fan-site-kit</div>
    </div>
    <div class="carouselImgs slide">
        <div class="imgNum">2 / 2</div>
        <img src="proj_img_2.jpg" style="width:100%">
        <div class="caption">Photo taken from https://dnd.wizards.com/products/tabletop-games/rpg-products/sc-adventurers-guide</div>
    </div>

    <a class="previous" onclick="changeImgs(-1)">&#10094;</a>
    <a class="next" onclick="changeImgs(1)">&#10095;</a>
</div>