<script src="/js/sortTable.js"></script>
<script src="/js/display.js"></script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />
<script>
    var context = '{{#each monsters}} { {{#each this}}{{#unless @last}}"{{@key}}":"{{this}}", {{/unless}}{{#if @last}}"{{@key}}":"{{this}}"{{/if}}{{/each}} }, {{/each}}';
    context = context.split("},");
    context.length = context.length-1;
    for(var i = 0; i < context.length; i++) {
        context[i] = context[i] + "}";
        context[i] = context[i].replace("&#x27;", "'");
        context[i] = JSON.parse(context[i]);
    };
</script>

<div class="viewport">
    <div class="listcontainer">
        {{> monsterTable this}}
    </div>
    <div class="viewcontainer">
        {{> monsterDisplay monsters.[0]}}
    </div>
</div>