.carouselShow {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

.carouselImgs {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 14px;
    color: darkred;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: black;
}

.slide {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1.5s;
    animation-name: slide;
    animation-duration: 1.5s;
}

@-webkit-keyframes slide {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes slide {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.imgNum {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
