body {
    background-color: antiquewhite;
}

.topnav {
    background-color: #344652;
    overflow: hidden;
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
}

.topnav a {
    float: left;
    background-color: #101F2A;
    color: #FFB143;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}