table {
  background-color: #D9D2C6;
}

table th {
  color: #FFB143;
  border: 1px solid #344652;
  background-color: #101F2A;
}
table td {
  border: 1px solid #344652;
}
.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 15px;
  border-top-color: #FFB143;
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: #FFB143;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}

.listcontainer {
    float: left;
}

.viewcontainer {
    float: right;
}